.container {
  background-color: #fff;
}

.header {
  background-color: #f9f9fb;
  padding: 5rem 2.4rem 3rem;
}

.headerTop {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  margin-bottom: 2.7rem;
}

.headerTopLeft {
}

.headerTopRight {
}

.headerTitle {
  font-weight: 500;
  font-size: 2.4rem;
  color: #1b1b1b;

  margin-bottom: 0.8rem;
}

.headerSubTitle {
  font-weight: 400;
  font-size: 1.6rem;
  color: rgba(151, 151, 151, 0.8);
}

.menuButton {
  width: 2.4rem;
  height: 2.4rem;
  padding: 0.4rem 0.3rem;
  margin-top: 0.4rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menuButtonLine {
  width: 1.8rem;
  height: 0.2rem;
  background-color: #f89400;
}

.headerBottom {
}
